{% extends "frontend/basefrontend.html.twig" %}
{% block title %} Posts list {% endblock %}
{% block body %}
        <!-- POST LIST -->
        <section class="list-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="row row-cols-1 row-cols-md-2 g-4 pb-4">    
                            {% for post in posts %}
                                <div class="col">
                                    <div class="card">
                                        <img src="assets/images/{{ post.image }}" alt="img post" class="card-img-top">
                                        <div class="card-body">    
                                            <div class="card-top mb-2 d-flex justify-content-between align-items-center mb-4">
                                                <span class="card-user fst-italic"><i class="fas fa-user-alt"></i>
                                                <a href="user_posts.php?id={{ post.user_id }}">
                                                {{ post.username }}</a></span>
                                                <div class="card-date"><i class="far fa-calendar"></i>&nbsp;<span>{{ post.date_create }}</span></div>
                                                <span class="badge"><a href="tag_posts.php?id=<?=$datas['tag_id']?>">{{ post.name }}</a></span>
                                            </div>
                                            <div class="card-content">
                                            <h6 class="card-title">{{ post.title }}</h6>
                                            <p class="card-head">{{ post.headline }}</p>
                                            <p class="card-text"><span><?= number_words($datas['content']); ?></span></p>
                                            </div>
                                            <div class="card-meta d-flex justify-content-end">       
                                                <a class="btn btn-primary" href="postsingle.php?id=<?= $datas['postId']?>" role="button">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>                
                    </div>
                    <div class="col-xl-3">
                    {% include "partials/asides.html.twig" %}
                    </div>
                </div>
            </div>       
        </section>
{% endblock %}     
        

                        
