{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin comments index {% endblock %}
{% block bodyadmin %}
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-comment">Manage Comments</h4>
                    </div>
                    <!-- TABLE COMMENTS -->
                    <table class="table table-comment">
                        <thead>
                            <tr class="table-title table-primary">
                                <th class="col-1"># Post</th>
                                <th class="col-2">Author</th>
                                <th class="col-2">Email</th>
                                <th class="col-1">Date</th>
                                <th class="col-3">Post title</th>
                                <th class="col-1">Status</th>
                                <th class="col-2">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                        {% for indexcomment in indexcomments %}
                            <tr>
                                <th scope="row">{{ indexcomment.post_id }}</th>
                                <th class="name_author">{{ indexcomment.name_author }}</th>
                                <td class="email_author">{{ indexcomment.email_author }}</td>
                                <td class="date_comment">{{ indexcomment.date_comment }}</td>
                                <td class="post-title"><small>{{ indexcomment.title }}</small></td>
                                <td class="status">
                                    {% if indexcomment.status_comm == 2 %}
                                        <h6 style="color: green;">{{ 'published' }}</h6>
                                    {% else %} 
                                        <h6 style="color: red;">{{ 'unpublished' }}</h6>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="action-button">
                                        <a href="?page=editcomment&id={{ indexcomment.commentId }}" class="btn edit-post btn-primary"><i class="far fa-edit"></i> edit</a>
                                        <a href="?page=deletecomment&id={{ indexcomment.commentId }}" class="btn delete-btn btn-danger"><i class="fas fa-times"></i> delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}   
                        </tbody>
                    </table>
                    <!-- CARDS COMMENTS -->   
                    <div class="cards cards-comment">
                        <div class="container">
                            <div class="row">
                            {% for indexcomment in indexcomments %}
                                <div class="col-lg-6 col-sm-6">
                                    <div class="card border-dark mb-3" style="max-width: 20rem;">
                                        <div class="card-header card-com">
                                            <div class="comment-id w-50 d-flex justify-content-between">
                                                <div class="id"><span># {{ indexcomment.post_id }}</span></div>
                                            </div>
                                            <div class="comment-date">{{ indexcomment.date_comment }}</div>
                                        </div>
                                        <div class="card-header card-com">
                                            <div class="comment-id w-50 d-flex justify-content-between">
                                                <div class="auth-com">{{ indexcomment.name_author }}</div>
                                            </div>
                                            <div class="email_author">{{ indexcomment.email_author }}</div>
                                        </div>
                                        <div class="card-body text-dark">
                                            <h5 class="post-title">{{ indexcomment.title }}</h5>
                                            <p class="comment-text"><span class="far fa-comment">&thinsp;</span>{{ indexcomment.comment }}</p>
                                        </div>
                                        <div class="card-footer card-com border-success d-flex justify-content-around">
                                            <div class="status status-red d-flex align-items-center">
                                                {% if indexcomment.status_comm == 2 %}
                                                    <h6 style="color: green;">{{ 'published' }}</h6>
                                                {% else %} 
                                                    <h6 style="color: red;">{{ 'unpublished' }}</h6>
                                                {% endif %}
                                            </div>
                                            <a href="?page=editcomment&id={{ indexcomment.commentId }}" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i> edit</a>
                                            <a href="?page=deletecomment&id={{ indexcomment.commentId }}" class="delete-btn action-btn btn btn-danger"><i class="fas fa-times"></i> delete</a>
                                        </div>
                                    </div>        
                                </div>          
                            {% endfor %}    
                            </div>    
                        </div>         
                    </div>
                </div>
            </section>
        </div>
{% endblock %}