{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin posts edit {% endblock %}
{% block bodyadmin %}
            <!-- EDIT POST FORM -->
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-post">Edit Posts</h4>
                    </div>
                    <div class="edit">
                        <div class="container">
                            <form method="post" action="index.php?page=editpost&id={{ editpost.id }}" enctype="multipart/form-data">
                                <fieldset class="form-group form-post row g-0">
                                    {% if session.danger is not empty %}
                                        <div class="alert alert-danger alert-dismissible show pt-5" role="alert">
                                            <p>You have not completed the form correctly :</p>
                                            <ul>
                                                {% for danger in session.danger %}
                                                    <li> {{ danger }}</li>  
                                                {% endfor %}   
                                            </ul>
                                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>     
                                        </div>    
                                    {% endif %}
                                    <div class="form-field col-lg-12">
                                        <label for="author">Author</label>
                                        <input type="text" name="username" id="username" class="form-control" value="{{ session.username }}">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" id="title" class="form-control" value="{{ session.input.title is defined ? session.input.title : editpost.title }}">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="headline">Headline</label>
                                        <input type="text" name="headline" id="headline" class="form-control" value="{{ session.input.headline is defined ? session.input.headline : editpost.headline }}">
                                    </div>
                                    {{ dump(session) }}
                                    <div class="form-field col-lg-12">
                                        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                                        <textarea name="content" id="content" class="form-control">{{ session.input.content is defined ? session.input.content : editpost.content }}</textarea>
                                    </div>
                                    <div class="form-field col-lg-12 d-flex flex-column">
                                        <label for="formFile" class="form-label">Image</label>
                                        {% if editpost.image is not empty and editpost.image != NULL %}
                                        <img src="assets/images/{{ session.picture.name is defined ? session.picture.name : editpost.image }}" alt="post-pic" width="200px;">
                                        {{ session.picture.name is defined ? section.picture.name : editpost.image }}
                                        {% else %}
                                            <img src="assets/images/land-default.png" alt="post-pic" width="200px;">
                                        {% endif %}
                                    </div>  
                                    <div class="form-field col-lg-12">  
                                        <input type="file" name="image" id="image" class="form-control">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="tags">Tag category</label>
                                        <select name="tag" id="tag" class="form-control">
                                            <option value="0">Select option</option>
                                            {% if selectags %}
                                                {% for tag in selectags %}
                                                    <option value="{{ tag.id }}" {% if editpost.tag_id == tag.id %} selected {% endif %}>{{ tag.name }}</option>
                                                {% endfor %}  
                                            {% endif %}     
                                        </select>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="status_post" class="form-check-input" value="2" {% if editpost.status_post is defined and editpost.status_post == 2 %} checked {% endif %} id="checkbox">
                                        <label class="form-check-label" for="checkbox">Published</label>
                                    </div> 
                                    <div class="btn-post d-flex justify-content-between">
                                        <button type="submit" name="submit" class="submit-post submit-btn">Update post</button>
                                        <a class="submit-btn submit-post" href="?page=indexpost" role="button"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back</a>    
                                    </div>
                                </fieldset>
                            </form>
                        </div>                 
                    </div>
                </div>
            </section>
        </div>
        {{ session | unset }}
{% endblock %}