{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin users index {% endblock %}
{% block bodyadmin %}
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-user">Manage Users</h4>
                        {% if session.auth_role is defined and session.auth_role == 2 %}
                        <div class="link-btn">
                        <a href="?page=adduser" class="user-btn add-btn btn"><i class="fas fa-plus"></i> User</a>
                        </div>
                        {% endif %}
                    </div>
                    <!-- TABLE USERS -->
                    <div class="container">
                        <table class="table table-user">
                            <thead>
                                <tr class="table-title table-primary">   
                                    <th class="col-1">#</th>
                                    <th class="col-1">User</th>
                                    <th class="col-2">Username</th>
                                    <th class="col-3">Email</th>
                                    <th class="col-2">Status</th>
                                    <th class="col-3">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                {% for indexuser in indexusers %} 
                                    <tr>
                                        <th scope="row">{{ indexuser.id }}</th>
                                        <td class="user-img">
                                            {% if indexuser.picture is not empty and indexuser.picture != NULL %}
                                                <img src="assets/images/{{ indexuser.picture }}" alt="user-pic"></td>
                                            {% else %}
                                                <img src="assets/images/default.png" alt="user-pic">
                                            {% endif %}
                                        </td>            
                                        <td class="table-bold">{{indexuser.username }}</td>
                                        <td>{{ indexuser.email }}</td>
                                        <td>{% if indexuser.role == 2 %} super admin {% else %} admin {% endif %}</td>
                                        <td>
                                            <div class="action-button">
                                                <a href="?page=edituser&id={{ indexuser.id }}" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i> edit</a>
                                                <a href="?page=deleteuser&id={{ indexuser.id }}" class="action-btn btn btn-danger"><i class="fas fa-times"></i> delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- CARD USERS -->
                    <div class="cards cards-user">
                        <div class="container">
                            <div class="row">
                            {% for indexuser in indexusers %}
                                <div class="col-lg-4 col-sm-4 col-6">
                                    <div class="card border-dark mb-3">
                                        <div class="card-header card-user"> 
                                            <div class="id"><span># {{ indexuser.id }}</span></div>
                                            <div class="status"><span>{% if indexuser.role == 2 %} super admin {% else %} admin {% endif %}</span></div>
                                            </div>
                                                <div class="card-body h-75">
                                                    {% if indexuser.picture is not empty and indexuser.picture != NULL %}
                                                        <img src="assets/images/{{ indexuser.picture }}" alt="user-pic"></td>
                                                    {% else %}
                                                        <img src="assets/images/default.png" alt="user-pic">
                                                    {% endif %}
                                                </div>
                                                <div class="card-userdetail text-dark">
                                                    <h5 class="card-username">{{ indexuser.username }}</h5>
                                                    <h6 class="card-email">{{ indexuser.email }}</h6>
                                                </div>
                                            <div class="card-footer card-user border-success">
                                                <div class="action-button">
                                                <a href="?page=edituser&id=indexuser.id" class="btn edit-post btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                                <a href="?page=deleteuser&id=indexuser.id" class="btn btn-danger"><i class="fas fa-times"></i><span> delete</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                            </div>        
                        </div>         
                    </div>           
                </div>
            </section>
        </div>
{% endblock %}
